<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="d-flex flex-column min-vh-100 mb-0">
    @RenderBody()
    <div id="root"></div>

    <script type="text/javascript">
        window.isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
        window.userRoles = @Html.Raw(Json.Serialize(ViewData["UserRoles"] ?? new List<string>()));
        window.username = "@User.Identity.Name";
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/bundle.js"></script>
</body>
</html>